* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section10 {
    background-color: #D2451E;
    color: white;
    height: 315px;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.sectionContainer {
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between ;
}

#title {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}

#subtitle {
    font-family: Tiempos, "Times New Roman", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

.explore {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.explore h3 {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 150px;
}

.explore > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.explore a  {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-right: 25px;
    text-decoration: none;
}

.backToTop {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-family: HelveticaNow, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color: #1A1A1A;
    border: none;
    padding:5px 12px;
    text-transform: uppercase;
    cursor: pointer;
}

footer {
    font-family: HelveticaNow, Helvetica, sans-serif;
    color: white;
    background-color: #1A1A1A;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;  
}

.termsAndConditionContainer {
    width: 500px;
    height: 150px;
}

.termsAndConditionContainer > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 50px;
    width: 100%;
    margin-left: -10px;
}

.termsAndConditionContainer > ul a {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    text-decoration: none;
}   

.termsAndConditionContainer p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.downloadAppContainer {
    margin-left: 80px;
}

.downloadAppContainer > h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.socialMediaInfo {
    margin-left: 40px;
}

.socialMediaInfo > h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.socialIconContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.socialIconContainer img {
    background-color: white;
    padding: 6px;
    margin-right: 10px;
}




